* {
  margin: 0;
}

.header {
  background-color: rgb(200, 198, 198);
  display: flex;
  padding: 0.5rem;
  gap: 1rem;
  align-items: center;
}

.link {
  background: none;
  border: none;
  color: whitesmoke;
  text-decoration: none;
  color: #777;
  cursor: pointer;
}

.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.5rem);
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
